[run]
branch = true
parallel = true
patch = subprocess

[report]
exclude_also =
    if __name__ == .__main__.:
    if fcntl is None:
    if ZoneInfo is None:
fail_under = 90
precision = 1
show_missing = true
skip_covered = false
